/*
Theme Name:   	Storefront Child Theme
Theme URI:    	https://github.com/stuartduff/storefront-child-theme
Author:       	Stuart Duff
Author URI:     http://stuartduff.com
Template:     	storefront
Description:  	This is a blank child theme for WooThemes StoreFront theme
Version:      	1.0.0
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  	storefront
Tags:         	black, white, light, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready
This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
Storefront is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
FontAwesome License: SIL Open Font License - http://scripts.sil.org/OFL
Images License: GNU General Public License v2 or later
*/
/*
 * Add your own custom css below this text.
 */

 #l2g .facebook, 
 #l2g .twitter, 
 #l2g .gplusone {
 	width: inherit;
 }

 @media (min-width: 768px) {

 	.main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a {
 		text-shadow: 1px 1px 2px #2c2d33;
 	}

 	.secondary-navigation .menu > li > a {
 		text-shadow: 1px 1px 2px #2c2d33;
 	}

 	.right-sidebar .widget-area {
 		float: left;
 		margin-right: 4.347826087%;
 	}

 	.right-sidebar .content-area {
 		float: right;
 		margin-right: 0;
 	}

 	.col-full {
 		max-width: 1400px;
 	}

 	.site-header-cart .cart-contents {
 		padding: 0 1em 2.210em !important;
 	}

 	#coupon-code-wrapper .woocommerce-error,
 	#coupon-code-wrapper .woocommerce-message {
 		margin-right: 13px;
 	}

 }

 /*@media (max-width: 65.141em) {

 	.sticky-menu-cart {
 		position: relative !important;
 		top: inherit !important;
 	}

 	.sticky-add-content-top-space {
 		position: inherit !important;
 	}

 }

 @media (max-width: 568px) {

 	.sticky-menu-cart {
 		position: relative !important;
 		top: inherit !important;
 	}

 	.sticky-add-content-top-space {
 		position: inherit !important;
 	}

 	}
 *
 */

 .pp_pic_holder div.ppt {
 	display: none !important;
 }

 .price ins,
 .price-extra-info.red-color,
 .price-extra-info .red-color {
 	color: #dd3333;
 }

 .price-extra-info {
 	opacity: 0.7;
 	font-size: 12px;
 }

 ul.products li.product .price {
 	font-size: 20px;
 }

 .single-product div.product .price {
 	font-size: 24px;
 }

 .woocommerce-checkout.scc-distraction-free-checkout.page-template-default .content-area {
 	width: 100% !important;
 }

 .swc-loader {
 	text-align: center;
 }

 .swc-loader:before {
 	content: none !important;
 }

 .page-template-template-homepage .storefront-product-categories ul.products li.product {
 	margin-bottom: 2.236em;
 }

 .page-template-template-homepage .storefront-product-categories ul.products li.product.product-category img {
 	width: 100%;
 }

 .site-header {
 	background-position: center 0;
 	background-repeat: repeat no-repeat;
 }

 .on-stock-number span {
 	float: right;
 	padding: 0 8px 0;
 	display: inline-block;
 	font-size: 12px;
 	font-weight: bold;
 	line-height: 21px;
 	color: #dd3333;
 	border: 2px solid #dd3333;
 	border-bottom: 0;
 }

 .single_add_to_cart_button {
 	padding: 0.618em 1.540em;
 }

 .site-header-cart .widget_shopping_cart {
 	background-color: #2c2d33 !important;
 }

 .product_list_widget li.mini_cart_item {
 	border-bottom: 2px solid rgb(96, 100, 108) !important;
 }

 .site-header-cart .widget_shopping_cart .product_list_widget {
 	font-weight: bold;
 	padding-left: 5px;
 	padding-right: 5px;
 }

 .sticky-menu-cart {
 	position: fixed;
 	width: 100%;
 	top: -140px;
 }

 .sticky-add-content-top-space {
 	position: relative;
 	top: 222px;
 	margin-bottom: 222px;
 }

 #coupon-code-wrapper .woocommerce-info,
 #coupon-code-wrapper form.checkout_coupon,
 #coupon-code-wrapper .woocommerce-error,
 #coupon-code-wrapper .woocommerce-message {
 	float: right;
 	margin-bottom: 0.5em;
 	clear: both;
 }

 #coupon-code-wrapper p.form-row {
 	margin: 0;
 }

 #coupon-code-wrapper .woocommerce-info,
 #coupon-code-wrapper .woocommerce-error,
 #coupon-code-wrapper .woocommerce-message {
 	padding: 0 0.5em;
 }

 #coupon-code-wrapper .woocommerce-info {
 	background-color: inherit !important;
 	color: #666 !important;
 }

 #coupon-code-wrapper .woocommerce-info a {
 	color: #666 !important;
 }

 #coupon-code-wrapper .input-text {
 	padding: .3em;
 }

 #coupon-code-wrapper input[type="submit"] {
 	background-color: #666;
 	padding: 0.4em 1em;
 }
